Repository rstcheck/rstcheck-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy

sort-spelling-dicts:
  name: Sort spelling_dict.txt files
  description: Sort spelling_dict.txt files
  language: python
  entry: python
  args:
  - -c
  - 'import pathlib;
  
    import sys;
  
    p = pathlib.Path(sys.argv[1]);
  
    p.write_text("\n".join(sorted(set(p.read_text("utf-8").splitlines()))) + "\n", "utf-8")
  
    '

find-todos:
  name: 'Find TODO:|FIXME:|BUG: comments'
  description: 'Check for TODO:|FIXME:|BUG: comments in all files'
  language: pygrep
  entry: (^|//!?|#|<!--|;|/\*(\*|!)?|\.\.)\s*(TODO:|FIXME:|BUG:)(?!#i#)

mypy:
  name: mypy
  description: run mypy over the installed package via tox
  entry: tox
  args:
  - -e
  - mypy
  language: python
  additional_dependencies:
  - tox
  pass_filenames: false
  require_serial: true

ignore false 'no attribute' error
  tests/_docutils_test.py
Due: find-todos, mypy

update type interface for ignore function
  src/rstcheck_core/_docutils.py
Due: find-todos, mypy

add default None back ignore function
  src/rstcheck_core/_docutils.py
Due: find-todos, mypy

add PR branch as dependency
  pyproject.toml
Due: find-todos

add plugin to sphinx config
  docs/source/conf.py
Due: find-todos, mypy

use branch over commit to be dynamic
  pyproject.toml
Due: find-todos

Add preliminary JSONc support; need better inline comment support
  src/rstcheck_core/checker.py
  tests/checker_test.py
Due: find-todos, mypy

CI: remove enchant setup on macos; only run spelling check on linux
  .github/workflows/documentation.yml
  tox.ini
Due: find-todos

ignore wrong mypy issues
  tests/_docutils_test.py
  tests/_sphinx_test.py
  tests/config_test.py
Due: find-todos, mypy

add env var to controll activation of spelling extension
  docs/source/conf.py
  tox.ini
Due: find-todos, mypy

fix spelling check; remove spelling directives and use spelling dict instead
  docs/source/api.rst
  docs/source/conf.py
  docs/source/spelling_dict.txt
Due: sort-spelling-dicts, find-todos, mypy

"release v1.2.1 [skip ci]"
  CHANGELOG.md
Due: find-todos

fix double vv in version string; update release script
  CHANGELOG.md
  prep_release.py
Due: find-todos, mypy

update pre-commit hooks like in rstcheck
  .pre-commit-config.yaml
  .pylintrc.spelling.toml
Due: find-todos

set python 3.12 to be the default
  .github/workflows/documentation.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .github/workflows/update-authors.yml
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: find-todos

move spelling dict into root dir
  .pylintrc.spelling.toml
  docs/source/conf.py
  pyproject.toml
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos, mypy

update release script with version from rstcheck
  prep_release.py
Due: find-todos, mypy

fix link and add v prefix in changelog
  CHANGELOG.md
Due: find-todos

replace m2r2 with myst to fix install issue; m2r2 seems unmaintained
  docs/source/changelog.md
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy

update spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

update mypy env; remove pylint env
  tox.ini
Due: find-todos

update dev tooling configs
  pyproject.toml
Due: find-todos

update changelog
  CHANGELOG.md
Due: find-todos

move ignore comment
  src/rstcheck_core/checker.py
Due: find-todos, mypy

update spelling dict and fix typos
  spelling_dict.txt
  src/rstcheck_core/_extras.py
  src/rstcheck_core/_sphinx.py
  src/rstcheck_core/checker.py
  src/rstcheck_core/config.py
  src/rstcheck_core/runner.py
  src/rstcheck_core/types.py
  tests/_docutils_test.py
  tests/checker_test.py
  tests/inline_config_test.py
  tests/integration_tests/file_checker_test.py
  tests/integration_tests/runner_test.py
  tests/runner_test.py
Due: sort-spelling-dicts, find-todos, mypy

whitespace
  src/rstcheck_core/config.py
Due: find-todos, mypy

remove pytest setting for unused plugin
  pyproject.toml
Due: find-todos

inline type
  src/rstcheck_core/checker.py
Due: find-todos, mypy

add explicit import of module
  src/rstcheck_core/checker.py
Due: find-todos, mypy

fix type issues
  tests/config_test.py
  tests/runner_test.py
Due: find-todos, mypy

use newer syntax for parent __init__ call
  src/rstcheck_core/checker.py
Due: find-todos, mypy

ignore type issue because class is missing in stubs
  src/rstcheck_core/checker.py
Due: find-todos, mypy

fix release script; remove manual v prefix in string
  prep_release.py
Due: find-todos, mypy

update macos specific error message in test
  tests/checker_test.py
Due: find-todos, mypy

checker: try to generate line number for code-block
  CHANGELOG.md
  src/rstcheck_core/checker.py
Due: find-todos, mypy

purge sphinx context manager
  CHANGELOG.md
  src/rstcheck_core/_sphinx.py
  src/rstcheck_core/checker.py
  src/rstcheck_core/runner.py
  tests/_sphinx_test.py
  tests/checker_test.py
Due: find-todos, mypy

testing: update code-block example for include
  testing/examples/good/_include.rst
  testing/examples/good/code_blocks.rst
Due: find-todos

checker: handle code-blocks from other files
  src/rstcheck_core/checker.py
Due: find-todos, mypy

fix ruff ICN001; import xml as ET
  src/rstcheck_core/checker.py
Due: find-todos, mypy

use tempfile as context manager
  src/rstcheck_core/checker.py
Due: find-todos, mypy

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$
