Repository rstcheck/rstcheck-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$

update pydantiv intersphinx config
  docs/source/conf.py
  docs/source/objects.pydantic.inv
Due: find-todos, mypy

update spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

ignore sourceforge links in linkcheck
  docs/source/conf.py
Due: find-todos, mypy

update ci codeql to v4
  .github/workflows/codeql-analysis.yml
Due: find-todos

update GHA actions/checkout to v6
  .github/workflows/documentation.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .github/workflows/update-authors.yml
Due: find-todos

update GHA actions/setup-python to v6
  .github/workflows/documentation.yml
  .github/workflows/qa.yml
  .github/workflows/test.yml
  .github/workflows/update-authors.yml
Due: find-todos

update GHA EndBug/add-and-commit to v10
  .github/workflows/update-authors.yml
Due: find-todos

update missing GHA actions/checkout to v6
  .github/workflows/codeql-analysis.yml
Due: find-todos

fix typo
  docs/source/conf.py
Due: find-todos, mypy

style: fix linting and formatting issues
  src/rstcheck_core/checker.py
Due: find-todos, mypy

update changelog
  CHANGELOG.md
Due: find-todos

handle include directives then Sphinx is available
  src/rstcheck_core/checker.py
  tests/checker_test.py
Due: find-todos, mypy

Refactor include directive logic to _sphinx_workarounds module
  CHANGELOG.md
  src/rstcheck_core/_sphinx_workarounds.py
  src/rstcheck_core/checker.py
  tests/_sphinx_workarounds_test.py
  tests/checker_test.py
Due: find-todos, mypy

Only use include directive workaround when Sphinx is installed
  src/rstcheck_core/checker.py
Due: find-todos, mypy

Add unit tests for include directive checks
  tests/checker_test.py
Due: find-todos, mypy

Fix spelling error
  tests/_sphinx_workarounds_test.py
Due: find-todos, mypy

Fix test_include_directive_without_sphinx docstring
  tests/checker_test.py
Due: find-todos, mypy

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

"release v1.3.0 [skip ci]"
  CHANGELOG.md
Due: find-todos

add correct handling of absolute paths in sphinx context
  src/rstcheck_core/_sphinx_workarounds.py
Due: find-todos, mypy

add 'sphinx_source_dir' config option
  src/rstcheck_core/config.py
Due: find-todos, mypy

pass 'sphinx_source_dir' through the check pipeline
  src/rstcheck_core/checker.py
Due: find-todos, mypy

fix severity in err msg in test assertion
  tests/checker_test.py
Due: find-todos, mypy

fix kwarg order in check_source calls matching its interface
  src/rstcheck_core/checker.py
Due: find-todos, mypy

add missing new kwarg to lambda mock
  tests/checker_test.py
Due: find-todos, mypy

run sphinx workaround tests only when sphinx is enabled
  tests/_sphinx_workarounds_test.py
Due: find-todos, mypy

add tests for abs path handling in sphinx context
  tests/_sphinx_workarounds_test.py
Due: find-todos, mypy

add new config option to docs
  docs/source/usage/config.rst
Due: find-todos

remove debug print
  src/rstcheck_core/checker.py
Due: find-todos, mypy

update abs path logic to work on windows too
  src/rstcheck_core/_sphinx_workarounds.py
Due: find-todos, mypy

use raw path str for abs path check to work on windows
  src/rstcheck_core/_sphinx_workarounds.py
Due: find-todos, mypy

"release v1.3.1 [skip ci]"
  CHANGELOG.md
Due: find-todos

ignore arg count lint
  src/rstcheck_core/_docutils.py
Due: find-todos, mypy

fix handling of 'sphinx_source_dir' relative paths in config files
  src/rstcheck_core/config.py
  tests/config_test.py
Due: find-todos, mypy

move skipifs to the correct place
  tests/config_test.py
Due: find-todos, mypy

ugh sorry, THIS is the right placement of those skipifs()
  tests/config_test.py
Due: find-todos, mypy

resolve type-checker findings
  tests/config_test.py
Due: find-todos, mypy

fix link label in changelog
  CHANGELOG.md
Due: find-todos
