Repository rstcheck/rstcheck-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$

fix mypy ignore comment
  src/rstcheck_core/checker.py
Due: find-todos, mypy

add None check
  src/rstcheck_core/checker.py
Due: find-todos, mypy

move error message into variable
  src/rstcheck_core/checker.py
Due: find-todos, mypy

remove duplicate in ruff ignores
  pyproject.toml
Due: find-todos

update ruff config for new version
  pyproject.toml
Due: find-todos

remove deprecated get_html_theme_path
  docs/source/conf.py
Due: find-todos, mypy

drop py3.8; add py3.12 (in tox)
  .github/workflows/test.yml
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: find-todos

ignore RUF034 in script
  prep_release.py
Due: find-todos, mypy

fix logging setup
  src/rstcheck_core/config.py
Due: find-todos, mypy

fix rtd config
  .readthedocs.yaml
Due: find-todos

Add 3.13 to CI test pool
  .github/workflows/test.yml
Due: find-todos

add 'readthedocs' to spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

whitelist echo in tox
  tox.ini
Due: find-todos

add sphinx 8 to tox test envs
  tox.ini
Due: find-todos

dropped support for sphinx 5
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: find-todos

update changelog; add link
  CHANGELOG.md
Due: find-todos

add missing version bump of sphinx in extra
  pyproject.toml
Due: find-todos

add missing entry to changelog
  CHANGELOG.md
Due: find-todos

don't run sphinx 8 tests on py3.9
  tox.ini
Due: find-todos

update changelog
  CHANGELOG.md
Due: find-todos

"release v1.2.2 [skip ci]"
  CHANGELOG.md
Due: find-todos

Add Python 3.14 to test environments
  .github/workflows/test.yml
  CHANGELOG.md
  tox.ini
Due: find-todos

remove deprecated pre-commit hook
  .pre-commit-config.yaml
Due: find-todos

make regex string explicit raw strings
  tests/checker_test.py
  tests/config_test.py
Due: find-todos, mypy

revert t.Optional to union conversion
  src/rstcheck_core/config.py
Due: find-todos, mypy

sort attributes in autoapidoc file
  docs/source/autoapidoc/rstcheck_core.rst
Due: find-todos

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

dropped py 3.9 from test runner and CI
  .github/workflows/test.yml
  tox.ini
Due: find-todos

updated tests
  tests/checker_test.py
  tests/integration_tests/file_checker_test.py
  tests/integration_tests/runner_test.py
Due: find-todos, mypy

updated changelog
  CHANGELOG.md
Due: find-todos

update min python version to 3.10
  pyproject.toml
Due: find-todos

update type hint syntax for unions/optionals
  src/rstcheck_core/config.py
  src/rstcheck_core/types.py
Due: find-todos, mypy

add sphinx 9 to test runner
  tox.ini
Due: find-todos

git ignore object json files
  .gitignore
Due: find-todos

ignore clear text object files for docs
  docs/source/conf.py
Due: find-todos, mypy

upgrade base python to v3.14 in test runner
  tox.ini
Due: find-todos

upgrade base python to v3.14 in CI
  .github/workflows/documentation.yml
  .github/workflows/qa.yml
  .github/workflows/update-authors.yml
  .pre-commit-config.yaml
Due: find-todos

upgrade base python to v3.14 in rtd
  .readthedocs.yaml
Due: find-todos
